In [8]:
file1 = open('sa.txt', 'r')
file2 = open('sb.txt', 'r')
file3 = open('sc.txt', 'r')
Lines =  file1.readlines()
Lines2 = file2.readlines()
Lines3 = file3.readlines() 
    
    
count = 0
# Strips the newline character
with open('rsr.txt', 'w') as f:
    for i in range(len(Lines)):
        count += 1
    #mystr = '\t'.join([Line.strip() for Line in Lines])
#     print("Line{}: {}".format(count, line.strip()))
        a = (f'{Lines[i]},{Lines2[i]},{Lines3[i]}')
        result = "".join(line.strip() for line in a.splitlines())
        f.write(result)
        f.write('\n')
    #print(f'{Lines[i]}+{Lines2[i]}+{Lines3[i]}')
        print (result)
    #print(f'{Lines[i]}')
    
    



# file1.close()
# file2.close()
# file3.close()

USE OM_name_0 CREATE TABLE `assoc2` ( `c7_at1` c7_at1_type NOT NULL `c4_at1` c4_at1_type NOT NULL KEY `FK_assoc2_c7_at1_idx` (`c7_at1`) KEY `FK_assoc2_c4_at1_idx` (`c4_at1`) PRIMARY KEY (`c7_at1`,`c4_at1`) ); CREATE TABLE `class2_name` ( `c2_at2` c2_at2_type `c5_at1` c5_at1_type `c2_at1` c2_at1_type NOT NULL KEY `FK_class2_name_c5_at1_idx` (`c5_at1`), PRIMARY KEY (`c2_at1`) ); CREATE TABLE `class1_name` ( `c1_at2` c1_at2_type `c5_at1` c5_at1_type `c1_at1` c1_at1_type NOT NULL KEY `FK_class1_name_c5_at1_idx` (`c5_at1`), PRIMARY KEY (`c1_at1`) ); CREATE TABLE `class4_name` ( `c4_at2` c4_at2_type `c4_at1` c4_at1_type NOT NULL PRIMARY KEY (`c4_at1`) ); CREATE TABLE `class7_name` ( `c7_at2` c7_at2_type(64) `c8_at2` c8_at2_type(64), `c8_at1` c8_at1_type(64), `c10_at1` c10_at1_type `c9_at1` c9_at1_type `c7_at1` c7_at1_type NOT NULL PRIMARY KEY (`c7_at1`) ),ABC123duydgfydu,yuwefuywfe
USE OM_name_0 CREATE TABLE `assoc2` ( `c7_at1` c7_at1_type NOT NULL `c4_at1` c4_at1_type NOT NULL KEY `FK_assoc2_c7_at1_idx` (`c7_at1`) KEY `FK_assoc2_c4_at1_idx` (`c4_at1`) PRIMARY KEY (`c7_at1`,`c4_at1`) ); CREATE TABLE `class2_name` ( `c2_at2` c2_at2_type `c5_at1` c5_at1_type `c2_at1` c2_at1_type NOT NULL KEY `FK_class2_name_c5_at1_idx` (`c5_at1`), PRIMARY KEY (`c2_at1`) ); CREATE TABLE `class1_name` ( `c1_at2` c1_at2_type `c5_at1` c5_at1_type `c1_at1` c1_at1_type NOT NULL KEY `FK_class1_name_c5_at1_idx` (`c5_at1`), PRIMARY KEY (`c1_at1`) ); CREATE TABLE `class4_name` ( `c4_at2` c4_at2_type `c4_at1` c4_at1_type NOT NULL PRIMARY KEY (`c4_at1`) ); CREATE TABLE `class7_name` ( `c7_at2` c7_at2_type(64) `c8_at2` c8_at2_type(64), `c8_at1` c8_at1_type(64), `c10_at1` c10_at1_type `c9_at1` c9_at1_type `c7_at1` c7_at1_type NOT NULL PRIMARY KEY (`c7_at1`) ),ABC12dhjdg,wefygyugfdwe
USE OM_name_0 CREATE TABLE `assoc2` ( `c7_at1` c7_at1_type NOT NULL `c4_at1` c4_at1_type NOT NULL KEY `FK_assoc2_c7_at1_idx` (`c7_at1`) KEY `FK_assoc2_c4_at1_idx` (`c4_at1`) PRIMARY KEY (`c7_at1`,`c4_at1`) ); CREATE TABLE `class2_name` ( `c2_at2` c2_at2_type `c5_at1` c5_at1_type `c2_at1` c2_at1_type NOT NULL KEY `FK_class2_name_c5_at1_idx` (`c5_at1`), PRIMARY KEY (`c2_at1`) ); CREATE TABLE `class1_name` ( `c1_at2` c1_at2_type `c5_at1` c5_at1_type `c1_at1` c1_at1_type NOT NULL KEY `FK_class1_name_c5_at1_idx` (`c5_at1`), PRIMARY KEY (`c1_at1`) ); CREATE TABLE `class4_name` ( `c4_at2` c4_at2_type `c4_at1` c4_at1_type NOT NULL PRIMARY KEY (`c4_at1`) ); CREATE TABLE `class7_name` ( `c7_at2` c7_at2_type(64) `c8_at2` c8_at2_type(64), `c8_at1` c8_at1_type(64), `c10_at1` c10_at1_type `c9_at1` c9_at1_type `c7_at1` c7_at1_type NOT NULL PRIMARY KEY (`c7_at1`) ),ABC125,weyfgyuwefguyew
USE OM_name_0 CREATE TABLE `assoc2` ( `c7_at1` c7_at1_type NOT NULL `c4_at1` c4_at1_type NOT NULL KEY `FK_assoc2_c7_at1_idx` (`c7_at1`) KEY `FK_assoc2_c4_at1_idx` (`c4_at1`) PRIMARY KEY (`c7_at1`,`c4_at1`) ); CREATE TABLE `class2_name` ( `c2_at2` c2_at2_type `c5_at1` c5_at1_type `c2_at1` c2_at1_type NOT NULL KEY `FK_class2_name_c5_at1_idx` (`c5_at1`), PRIMARY KEY (`c2_at1`) ); CREATE TABLE `class1_name` ( `c1_at2` c1_at2_type `c5_at1` c5_at1_type `c1_at1` c1_at1_type NOT NULL KEY `FK_class1_name_c5_at1_idx` (`c5_at1`), PRIMARY KEY (`c1_at1`) ); CREATE TABLE `class4_name` ( `c4_at2` c4_at2_type `c4_at1` c4_at1_type NOT NULL PRIMARY KEY (`c4_at1`) ); CREATE TABLE `class7_name` ( `c7_at2` c7_at2_type(64) `c8_at2` c8_at2_type(64), `c8_at1` c8_at1_type(64), `c10_at1` c10_at1_type `c9_at1` c9_at1_type `c7_at1` c7_at1_type NOT NULL PRIMARY KEY (`c7_at1`) ),ABC123dyutdf,wefyewgyufgewyuf

In [2]:
# Python program to
# demonstrate merging
# of two files
 
#data = data2  = ""

#data = data3 = ""
 
# Reading data from Solution files 
with open('Camping_Sol_1_abstract_sl.txt') as fp:
    data = fp.read()
 

with open('Camping_Sol_2_abstract_sl.txt') as fp:
    data2 = fp.read()
    
    
with open('Camping_Sol_5_abstract_sl.txt') as fp:
    data3 = fp.read()
    
        
with open('Camping_Sol_7_abstract_sl.txt') as fp:
    data4 = fp.read()
    
    
with open('Camping_Sol_9_abstract_sl.txt') as fp:
    data5 = fp.read()
    
with open('Camping_Sol_10_abstract_sl.txt') as fp:
    data6 = fp.read()  
    
    
with open('Camping_Sol_11_abstract_sl.txt') as fp:
    data7 = fp.read()
    
    
with open('Camping_Sol_12_abstract_sl.txt') as fp:
    data8 = fp.read()
    
with open('Camping_Sol_13_abstract_sl.txt') as fp:
    data9 = fp.read()
    
    
with open('Camping_Sol_15_abstract_sl.txt') as fp:
    data10 = fp.read()
    
with open('Camping_Sol_16_abstract_sl.txt') as fp:
    data11 = fp.read()
    
with open('Camping_Sol_18_abstract_sl.txt') as fp:
    data12 = fp.read()
    
with open('Camping_Sol_19_abstract_sl.txt') as fp:
    data13 = fp.read()
    
    
with open('Camping_Sol_20_abstract_sl.txt') as fp:
    data14 = fp.read()
    
with open('Camping_Sol_21_abstract_sl.txt') as fp:
    data15 = fp.read()
    
    
with open('Camping_Sol_22_abstract_sl.txt') as fp:
    data16 = fp.read()
    
 
# Merging 2 files
# To add the data of file2
# from next line
#data += "\n"
data += data2
data2 += data3
data3 += data4
data4 += data5
data5 += data6
data6 += data7
data7 += data8
data8 += data9
data9 += data10
data10 += data11
data11 += data12
data12 += data13
data13 += data14
data14 += data15
data15 += data16
 
with open ('Camping_Sol_Abs.txt', 'w') as fp:
    fp.write(data)
    fp.write(data2)
    fp.write(data3)
    fp.write(data4)
    fp.write(data5)
    fp.write(data6)
    fp.write(data7)
    fp.write(data8)
    fp.write(data9)
    fp.write(data10)
    fp.write(data11)
    fp.write(data12)
    fp.write(data13)
    fp.write(data14)
    fp.write(data15)
    fp.write(data16)

In [3]:

##Reading data from Mapping files 
    
with open('sol1_sl.txt') as sp:
    mdata = sp.read()
 


with open('sol2_sl.txt') as sp:
    mdata2 = sp.read()
    
    
with open('sol5_sl.txt') as sp:
    mdata3 = sp.read()
    
        
with open('sol7_sl.txt') as sp:
    mdata4 = sp.read()
    
    
with open('sol9_sl.txt') as sp:
    mdata5 = sp.read()
    
with open('sol10_sl.txt') as sp:
    mdata6 = sp.read()  
    
    
with open('sol11_sl.txt') as sp:
    mdata7 = sp.read()
    
    
with open('sol12_sl.txt') as sp:
    mdata8 = sp.read()
    
with open('sol13_sl.txt') as sp:
    mdata9 = sp.read()
    
    
with open('sol15_sl.txt') as sp:
    mdata10 = sp.read()
    
with open('sol16_sl.txt') as sp:
    mdata11 = sp.read()
    
with open('sol18_sl.txt') as sp:
    mdata12 = sp.read()
    
with open('sol19_sl.txt') as sp:
    mdata13 = sp.read()
    
    
with open('sol20_sl.txt') as sp:
    mdata14 = sp.read()
    
with open('sol21_sl.txt') as sp:
    mdata15 = sp.read()
    
    
with open('sol22_sl.txt') as sp:
    mdata16 = sp.read()
    
 
# Merging 2 files
# To add the data of file2
# from next line
#data += "\n"
mdata += mdata2
mdata2 += mdata3
mdata3 += mdata4
mdata4 += mdata5
mdata5 += mdata6
mdata6 += mdata7
mdata7 += mdata8
mdata8 += mdata9
mdata9 += mdata10
mdata10 += mdata11
mdata11 += mdata12
mdata12 += mdata13


 
with open ('Camping_Sol_Mapping.txt', 'w') as sp:
    sp.write(mdata)
    sp.write(mdata2)
    sp.write(mdata3)
    sp.write(mdata4)
    sp.write(mdata5)
    sp.write(mdata6)
    sp.write(mdata7)
    sp.write(mdata8)
    sp.write(mdata9)
    sp.write(mdata10)
    sp.write(mdata11)
    sp.write(mdata12)
    sp.write(mdata13)
    sp.write(mdata14)
    sp.write(mdata15)
    sp.write(mdata16)

In [4]:
file1 = open('OM_Abstract_sl.txt', 'r')
file2 = open('Camping_Sol_Mapping.txt', 'r')
file3 = open('Camping_Sol_Abs.txt', 'r')
Lines =  file1.readlines()
Lines2 = file2.readlines()
Lines3 = file3.readlines() 
    
    
count = 0
# Strips the newline character
with open('Camping_OM_Data_Combined.txt', 'w') as f:
    for i in range(len(Lines)):
        count += 1
    #mystr = '\t'.join([Line.strip() for Line in Lines])
#     print("Line{}: {}".format(count, line.strip()))
        a = (f'{Lines[i]},{Lines2[i]},{Lines3[i]}')
        result = "".join(line.strip() for line in a.splitlines())
        f.write(result)
        f.write('\n')
    #print(f'{Lines[i]}+{Lines2[i]}+{Lines3[i]}')
        print (result)
    #print(f'{Lines[i]}')

module OM_name: 0 open Declaration one sig class1_name extends Class attrSet = c1_at1+c1_at2 id=c1_at1 no parent isAbstract = No } one sig c1_at1 extends c1_at1_type one sig c1_at2 extends c1_at2_type one sig class2_name extends Class attrSet = c2_at1+c2_at2 id=c2_at1 no parent isAbstract = No } one sig c2_at1 extends c2_at1_type one sig c2_at2 extends c2_at2_type one sig class3_name extends Class attrSet = c3_at1+c3_at2 id=c3_at1 no parent isAbstract = No } one sig c3_at1 extends c3_at1_type one sig c3_at2 extends c3_at2_type one sig class4_name extends Class attrSet = c4_at1+c4_at2+c4_at3+c4_at4 id=c4_at1 no parent isAbstract = No } one sig c4_at1 extends c4_at1_type one sig c4_at2 extends c4_at2_type one sig c4_at3 extends c4_at3_type one sig c4_at4 extends c4_at4_type one sig class5_name extends Class attrSet = c5_at1+c5_at2 one parent parent in class4_name id=c4_at1 isAbstract = No } one sig c5_at1 extends c5_at1_type one sig c5_at2 extends c5_at2_type one sig class6_name extends Class attrSet = c6_at1+c6_at2+c6_at3 id=c6_at1 no parent isAbstract = No } one sig c6_at1 extends c6_at1_type one sig c6_at2 extends c6_at2_type one sig c6_at3 extends c6_at3_type one sig assoc1 extends Association src = class6_name dst= class4_name src_multiplicity = src_mlpc2 dst_multiplicity = dst_mlpc } one sig assoc2 extends Association src = class1_name dst= class5_name src_multiplicity = src_mlpc dst_multiplicity = dst_mlpc } one sig assoc3 extends Association src = class4_name dst = class1_name src_multiplicity = src_mlpc dst_multiplicity = dst_mlpc } one sig assoc4 extends Association src = class3_name dst = class1_name src_multiplicity = src_mlpc dst_multiplicity = dst_mlpc } pred show run show for 30 ​,OM_name_Solution : 0 Table: class1_name Attribute c1_at1: c1_at1_type Primary Key Table: class1_name Attribute c1_at2: c1_at2_type Table: class2_name Attribute c2_at1: c1_at1_type Primary Key Table: class2_name Attribute c2_at2: c2_at2_type Table: class3_name Attribute c3_at1: c3_at1_type Primary Key Table: class3_name Attribute c3_at2: c3_at2_type Table: class4_name Attribute c4_at1: c4_at1_type Primary Key Table: class4_name Attribute c4_at2: c4_at2_type Table: class4_name Attribute c4_at3: c4_at3_type Table: class4_name Attribute c4_at4: c4_at4_type Table: class5_name Attribute c5_at1: c5_at1_type Primary Key Table: class5_name Attribute c5_at2: c5_at2_type Table: class6_name Attribute c6_at1: c6_at1_type Primary Key Table: class6_name Attribute c6_at2: c6_at2_type Table Name: class6_name Table: class1_name Attribute c1_at1: c1_at1_type Primary Key Table: class2_name Attribute c2_at1: c1_at1_type Primary Key Table: class3_name Attribute c3_at1: c3_at1_type Primary Key Table: class4_name Attribute c4_at1: c4_at1_type Primary Key Table: class6_name Attribute c6_at1: c6_at1_type Primary Key Table Name: class1_name Table Name: class2_name Table Name: class3_name Table Name: class4_name Table Name: class5_name Table Name: class6_name Mapping Strategy of Table class2_name: map_str2 Mapping Strategy of Table class3_name: map_str2 Mapping Strategy of Table class4_name: map_str2 Mapping Strategy of Table class5_name: map_str2 Association Strategy for assoc2 : assoc_type1 Association Strategy for assoc3 : assoc_type1 Association Strategy for assoc4 : assoc_type1 Association Strategy for assoc1 : assoc_type2,USE OM_name_0 CREATE TABLE `assoc1` ( `c6_at1` c6_at1_type NOT NULL, `c4_at1` c4_at1_type NOT NULL, KEY `FK_assoc1_c6_at1_idx` (`c6_at1`), FK_assoc1_c4_at1_idx` (`c4_at1`), PRIMARY KEY (`c6_at1`,`c4_at1`) ); CREATE TABLE `class3_name` ( `c3_at2` c3_at2_type(64) `c3_at1` c3_at1_type NOT NULL, PRIMARY KEY (`c3_at1`) ); CREATE TABLE `class5_name` ( `c4_at2` c4_at2_type(64), `c5_at2` c5_at2_type, `c5_at1` c5_at1_type, `c4_at4` c4_at4_type, `c4_at3` c4_at3_type, `c4_at1` c4_at1_type NOT NULL, PRIMARY KEY (`c4_at1`) ); CREATE TABLE `class2_name` ( `c2_at2` c2_at2_type(64), `c2_at1` c2_at1_type NOT NULL, PRIMARY KEY (`c2_at1`) ); CREATE TABLE `class6_name` ( `c6_at3` c6_at3_type, `c6_at2` c6_at2_type, `c6_at1` c6_at1_type NOT NULL, `c2_at1` c2_at1_type, KEY `FK_class6_name_c2_at1_idx` (`c2_at1`), PRIMARY KEY (`c6_at1`) ); CREATE TABLE `class1_name` ( `c4_at1` c4_at1_type, `c3_at1` c3_at1_type, `c1_at2` c1_at2_type, `c1_at1` c1_at1_type NOT NULL, KEY `FK_class1_name_c4_at1_idx` (`c4_at1`), KEY `FK_class1_name_c3_at1_idx` (`c3_at1`), PRIMARY KEY (`c1_at1`) ); CREATE TABLE `class4_name` ( `c4_at2` c4_at2_type(64), `c4_at4` c4_at4_type, `c4_at3` c4_at3_type, `c4_at1` c4_at1_type NOT NULL, PRIMARY KEY (`c4_at1`) ); ALTER TABLE `assoc1` ADD CONSTRAINT `FK_assoc1_c6_at1` FOREIGN KEY (`c6_at1`) REFERENCES `class6_name` (`c6_at1`) ON DELETE CASCADE ON UPDATE CASCADE, ADD CONSTRAINT `FK_assoc1_c4_at1` FOREIGN KEY (`c4_at1`) REFERENCES `class4_name` (`c4_at1`) ON DELETE CASCADE ON UPDATE CASCADE; ALTER TABLE `class6_name` ADD CONSTRAINT `FK_class6_name_c2_at1` FOREIGN KEY (`c2_at1`) REFERENCES `class2_name` (`c2_at1`) ON DELETE CASCADE ON UPDATE CASCADE; ALTER TABLE `class1_name` ADD CONSTRAINT `FK_class1_name_c4_at1` FOREIGN KEY (`c4_at1`) REFERENCES `class4_name` (`c4_at1`) ON DELETE CASCADE ON UPDATE CASCADE, ADD CONSTRAINT `FK_class1_name_c3_at1` FOREIGN KEY (`c3_at1`) REFERENCES `class3_name` (`c3_at1`) ON DELETE CASCADE ON UPDATE CASCADE;
module OM_name: 0 open Declaration one sig class1_name extends Class attrSet = c1_at1+c1_at2 id=c1_at1 no parent isAbstract = No } one sig c1_at1 extends c1_at1_type one sig c1_at2 extends c1_at2_type one sig class2_name extends Class attrSet = c2_at1+c2_at2 id=c2_at1 no parent isAbstract = No } one sig c2_at1 extends c2_at1_type one sig c2_at2 extends c2_at2_type one sig class3_name extends Class attrSet = c3_at1+c3_at2 id=c3_at1 no parent isAbstract = No } one sig c3_at1 extends c3_at1_type one sig c3_at2 extends c3_at2_type one sig class4_name extends Class attrSet = c4_at1+c4_at2+c4_at3+c4_at4 id=c4_at1 no parent isAbstract = No } one sig c4_at1 extends c4_at1_type one sig c4_at2 extends c4_at2_type one sig c4_at3 extends c4_at3_type one sig c4_at4 extends c4_at4_type one sig class5_name extends Class attrSet = c5_at1+c5_at2 one parent parent in class4_name id=c4_at1 isAbstract = No } one sig c5_at1 extends c5_at1_type one sig c5_at2 extends c5_at2_type one sig class6_name extends Class attrSet = c6_at1+c6_at2+c6_at3 id=c6_at1 no parent isAbstract = No } one sig c6_at1 extends c6_at1_type one sig c6_at2 extends c6_at2_type one sig c6_at3 extends c6_at3_type one sig assoc1 extends Association src = class6_name dst= class4_name src_multiplicity = src_mlpc2 dst_multiplicity = dst_mlpc } one sig assoc2 extends Association src = class1_name dst= class5_name src_multiplicity = src_mlpc dst_multiplicity = dst_mlpc } one sig assoc3 extends Association src = class4_name dst = class1_name src_multiplicity = src_mlpc dst_multiplicity = dst_mlpc } one sig assoc4 extends Association src = class3_name dst = class1_name src_multiplicity = src_mlpc dst_multiplicity = dst_mlpc } pred show run show for 30 ​,OM_name_Solution : 0 Table: class1_name Attribute c1_at1: c1_at1_type Primary Key Table: class1_name Attribute c1_at2: c1_at2_type Table: class2_name Attribute c2_at1: c1_at1_type Primary Key Table: class2_name Attribute c2_at2: c2_at2_type Table: class3_name Attribute c3_at1: c3_at1_type Primary Key Table: class3_name Attribute c3_at2: c3_at2_type Table: class4_name Attribute c4_at1: c4_at1_type Primary Key Table: class4_name Attribute c4_at2: c4_at2_type Table: class4_name Attribute c4_at3: c4_at3_type Table: class4_name Attribute c4_at4: c4_at4_type Table: class5_name Attribute c5_at1: c5_at1_type Primary Key Table: class5_name Attribute c5_at2: c5_at2_type Table: class6_name Attribute c6_at1: c6_at1_type Primary Key Table: class6_name Attribute c6_at2: c6_at2_type Table Name: class6_name Table: class1_name Attribute c1_at1: c1_at1_type Primary Key Table: class2_name Attribute c2_at1: c1_at1_type Primary Key Table: class3_name Attribute c3_at1: c3_at1_type Primary Key Table: class4_name Attribute c4_at1: c4_at1_type Primary Key Table: class6_name Attribute c6_at1: c6_at1_type Primary Key Table Name: class1_name Table Name: class2_name Table Name: class3_name Table Name: class4_name Table Name: class5_name Table Name: class6_name Mapping Strategy of Table class2_name: map_str2 Mapping Strategy of Table class3_name: map_str2 Mapping Strategy of Table class4_name: map_str2 Mapping Strategy of Table class5_name: map_str2 Association Strategy for assoc2 : assoc_type1 Association Strategy for assoc3 : assoc_type1 Association Strategy for assoc4 : assoc_type1 Association Strategy for assoc1 : assoc_type2,USE OM_name_0 CREATE TABLE `assoc1` ( `c6_at1` c6_at1_type NOT NULL, `c4_at1` c4_at1_type NOT NULL, KEY `FK_assoc1_c6_at1_idx` (`c6_at1`), FK_assoc1_c4_at1_idx` (`c4_at1`), PRIMARY KEY (`c6_at1`,`c4_at1`) ); CREATE TABLE `class3_name` ( `c3_at2` c3_at2_type(64) `c3_at1` c3_at1_type NOT NULL, PRIMARY KEY (`c3_at1`) ); CREATE TABLE `class5_name` ( `c5_at2` c5_at2_type, `c5_at1` c5_at1_type, `c4_at1` c4_at1_type NOT NULL, KEY `FK_class5_name_c4_at1_idx` (`c4_at1`), PRIMARY KEY (`c4_at1`) ); CREATE TABLE `class2_name` ( `c2_at2` c2_at2_type(64), `c2_at1` c2_at1_type NOT NULL, PRIMARY KEY (`c2_at1`) ); CREATE TABLE `class6_name` ( `c6_at3` c6_at3_type, `c6_at2` c6_at2_type, `c6_at1` c6_at1_type NOT NULL, `c2_at1` c2_at1_type, KEY `FK_class6_name_c2_at1_idx` (`c2_at1`), PRIMARY KEY (`c6_at1`) ); CREATE TABLE `class1_name` ( `c4_at1` c4_at1_type, `c3_at1` c3_at1_type, `c1_at2` c1_at2_type, `c1_at1` c1_at1_type NOT NULL, KEY `FK_class1_name_c4_at1_idx` (`c4_at1`), KEY `FK_class1_name_c3_at1_idx` (`c3_at1`), PRIMARY KEY (`c1_at1`) ); CREATE TABLE `class4_name` ( `c4_at2` c4_at2_type(64), `c4_at4` c4_at4_type, `c4_at3` c4_at3_type, `c4_at1` c4_at1_type NOT NULL, PRIMARY KEY (`c4_at1`) ); ALTER TABLE `assoc1` ADD CONSTRAINT `FK_assoc1_c6_at1` FOREIGN KEY (`c6_at1`) REFERENCES `class6_name` (`c6_at1`) ON DELETE CASCADE ON UPDATE CASCADE, ADD CONSTRAINT `FK_assoc1_c4_at1` FOREIGN KEY (`c4_at1`) REFERENCES `class4_name` (`c4_at1`) ON DELETE CASCADE ON UPDATE CASCADE; ALTER TABLE `class5_name` ADD CONSTRAINT `FK_class5_name_c4_at1` FOREIGN KEY (`c4_at1`) REFERENCES `class4_name` (`c4_at1`) ON DELETE CASCADE ON UPDATE CASCADE; ALTER TABLE `class6_name` ADD CONSTRAINT `FK_class6_name_c2_at1` FOREIGN KEY (`c2_at1`) REFERENCES `class2_name` (`c2_at1`) ON DELETE CASCADE ON UPDATE CASCADE; ALTER TABLE `class1_name` ADD CONSTRAINT `FK_class1_name_c4_at1` FOREIGN KEY (`c4_at1`) REFERENCES `class4_name` (`c4_at1`) ON DELETE CASCADE ON UPDATE CASCADE, ADD CONSTRAINT `FK_class1_name_c3_at1` FOREIGN KEY (`c3_at1`) REFERENCES `class3_name` (`c3_at1`) ON DELETE CASCADE ON UPDATE CASCADE; ​
module OM_name: 0 open Declaration one sig class1_name extends Class attrSet = c1_at1+c1_at2 id=c1_at1 no parent isAbstract = No } one sig c1_at1 extends c1_at1_type one sig c1_at2 extends c1_at2_type one sig class2_name extends Class attrSet = c2_at1+c2_at2 id=c2_at1 no parent isAbstract = No } one sig c2_at1 extends c2_at1_type one sig c2_at2 extends c2_at2_type one sig class3_name extends Class attrSet = c3_at1+c3_at2 id=c3_at1 no parent isAbstract = No } one sig c3_at1 extends c3_at1_type one sig c3_at2 extends c3_at2_type one sig class4_name extends Class attrSet = c4_at1+c4_at2+c4_at3+c4_at4 id=c4_at1 no parent isAbstract = No } one sig c4_at1 extends c4_at1_type one sig c4_at2 extends c4_at2_type one sig c4_at3 extends c4_at3_type one sig c4_at4 extends c4_at4_type one sig class5_name extends Class attrSet = c5_at1+c5_at2 one parent parent in class4_name id=c4_at1 isAbstract = No } one sig c5_at1 extends c5_at1_type one sig c5_at2 extends c5_at2_type one sig class6_name extends Class attrSet = c6_at1+c6_at2+c6_at3 id=c6_at1 no parent isAbstract = No } one sig c6_at1 extends c6_at1_type one sig c6_at2 extends c6_at2_type one sig c6_at3 extends c6_at3_type one sig assoc1 extends Association src = class6_name dst= class4_name src_multiplicity = src_mlpc2 dst_multiplicity = dst_mlpc } one sig assoc2 extends Association src = class1_name dst= class5_name src_multiplicity = src_mlpc dst_multiplicity = dst_mlpc } one sig assoc3 extends Association src = class4_name dst = class1_name src_multiplicity = src_mlpc dst_multiplicity = dst_mlpc } one sig assoc4 extends Association src = class3_name dst = class1_name src_multiplicity = src_mlpc dst_multiplicity = dst_mlpc } pred show run show for 30 ​,OM_name_Solution : 0 Table: class1_name Attribute c1_at1: c1_at1_type Primary Key Table: class1_name Attribute c1_at2: c1_at2_type Table: class2_name Attribute c2_at1: c1_at1_type Primary Key Table: class2_name Attribute c2_at2: c2_at2_type Table: class3_name Attribute c3_at1: c3_at1_type Primary Key Table: class3_name Attribute c3_at2: c3_at2_type Table: class4_name Attribute c4_at1: c4_at1_type Primary Key Table: class4_name Attribute c4_at2: c4_at2_type Table: class4_name Attribute c4_at3: c4_at3_type Table: class4_name Attribute c4_at4: c4_at4_type Table: class5_name Attribute c5_at1: c5_at1_type Primary Key Table: class5_name Attribute c5_at2: c5_at2_type Table: class6_name Attribute c6_at1: c6_at1_type Primary Key Table: class6_name Attribute c6_at2: c6_at2_type Table Name: class6_name Table: class1_name Attribute c1_at1: c1_at1_type Primary Key Table: class2_name Attribute c2_at1: c1_at1_type Primary Key Table: class3_name Attribute c3_at1: c3_at1_type Primary Key Table: class4_name Attribute c4_at1: c4_at1_type Primary Key Table: class6_name Attribute c6_at1: c6_at1_type Primary Key Table Name: class1_name Table Name: class2_name Table Name: class3_name Table Name: class4_name Table Name: class5_name Table Name: class6_name Mapping Strategy of Table class2_name: map_str2 Mapping Strategy of Table class3_name: map_str2 Mapping Strategy of Table class4_name: map_str2 Mapping Strategy of Table class5_name: map_str2 Association Strategy for assoc2 : assoc_type1 Association Strategy for assoc3 : assoc_type1 Association Strategy for assoc4 : assoc_type1 Association Strategy for assoc1 : assoc_type2,USE OM_name_0 CREATE TABLE `assoc1` ( `c6_at1` c6_at1_type NOT NULL, `c4_at1` c4_at1_type NOT NULL, KEY `FK_assoc1_c6_at1_idx` (`c6_at1`), FK_assoc1_c4_at1_idx` (`c4_at1`), PRIMARY KEY (`c6_at1`,`c4_at1`) ); CREATE TABLE `class3_name` ( `c3_at2` c3_at2_type(64) `c3_at1` c3_at1_type NOT NULL, PRIMARY KEY (`c3_at1`) ); CREATE TABLE `class5_name` ( `c5_at2` c5_at2_type, `c5_at1` c5_at1_type, `c4_at1` c4_at1_type NOT NULL, KEY `FK_class5_name_c4_at1_idx` (`c4_at1`), PRIMARY KEY (`c4_at1`) ); CREATE TABLE `class2_name` ( `c2_at2` c2_at2_type(64), `c2_at1` c2_at1_type NOT NULL, PRIMARY KEY (`c2_at1`) ); CREATE TABLE `class6_name` ( `c6_at3` c6_at3_type, `c6_at2` c6_at2_type, `c6_at1` c6_at1_type NOT NULL, `c2_at1` c2_at1_type, KEY `FK_class6_name_c2_at1_idx` (`c2_at1`), PRIMARY KEY (`c6_at1`) ); CREATE TABLE `class1_name` ( `c4_at1` c4_at1_type, `c3_at1` c3_at1_type, `c1_at2` c1_at2_type, `c1_at1` c1_at1_type NOT NULL, KEY `FK_class1_name_c4_at1_idx` (`c4_at1`), KEY `FK_class1_name_c3_at1_idx` (`c3_at1`), PRIMARY KEY (`c1_at1`) ); CREATE TABLE `class4_name` ( `c4_at2` c4_at2_type(64), `c4_at4` c4_at4_type, `c4_at3` c4_at3_type, `c4_at1` c4_at1_type NOT NULL, PRIMARY KEY (`c4_at1`) ); ALTER TABLE `assoc1` ADD CONSTRAINT `FK_assoc1_c6_at1` FOREIGN KEY (`c6_at1`) REFERENCES `class6_name` (`c6_at1`) ON DELETE CASCADE ON UPDATE CASCADE, ADD CONSTRAINT `FK_assoc1_c4_at1` FOREIGN KEY (`c4_at1`) REFERENCES `class4_name` (`c4_at1`) ON DELETE CASCADE ON UPDATE CASCADE; ALTER TABLE `class5_name` ADD CONSTRAINT `FK_class5_name_c4_at1` FOREIGN KEY (`c4_at1`) REFERENCES `class4_name` (`c4_at1`) ON DELETE CASCADE ON UPDATE CASCADE; ALTER TABLE `class6_name` ADD CONSTRAINT `FK_class6_name_c2_at1` FOREIGN KEY (`c2_at1`) REFERENCES `class2_name` (`c2_at1`) ON DELETE CASCADE ON UPDATE CASCADE; ALTER TABLE `class1_name` ADD CONSTRAINT `FK_class1_name_c4_at1` FOREIGN KEY (`c4_at1`) REFERENCES `class4_name` (`c4_at1`) ON DELETE CASCADE ON UPDATE CASCADE, ADD CONSTRAINT `FK_class1_name_c3_at1` FOREIGN KEY (`c3_at1`) REFERENCES `class3_name` (`c3_at1`) ON DELETE CASCADE ON UPDATE CASCADE; ​

In [5]:
file1 = open('OM_Abstract_sl.txt', 'r')
file2 = open('Camping_Sol_Mapping.txt', 'r')
file3 = open('Camping_Sol_Abs.txt', 'r')
Lines =  file1.readlines()
Lines2 = file2.readlines()
Lines3 = file3.readlines() 
    
    
count = 0
# Strips the newline character
with open('Camping_OM_Data_Combined_Predicted.txt', 'w') as f:
    for i in range(len(Lines)):
        count += 1
    #mystr = '\t'.join([Line.strip() for Line in Lines])
#     print("Line{}: {}".format(count, line.strip()))
        a = (f'{Lines[i]},{Lines2[i]},{Lines3[i]},NP')
        result = "".join(line.strip() for line in a.splitlines())
        f.write(result)
        f.write('\n')
    #print(f'{Lines[i]}+{Lines2[i]}+{Lines3[i]}')
        print (result)
    #print(f'{Lines[i]}')

module OM_name: 0 open Declaration one sig class1_name extends Class attrSet = c1_at1+c1_at2 id=c1_at1 no parent isAbstract = No } one sig c1_at1 extends c1_at1_type one sig c1_at2 extends c1_at2_type one sig class2_name extends Class attrSet = c2_at1+c2_at2 id=c2_at1 no parent isAbstract = No } one sig c2_at1 extends c2_at1_type one sig c2_at2 extends c2_at2_type one sig class3_name extends Class attrSet = c3_at1+c3_at2 id=c3_at1 no parent isAbstract = No } one sig c3_at1 extends c3_at1_type one sig c3_at2 extends c3_at2_type one sig class4_name extends Class attrSet = c4_at1+c4_at2+c4_at3+c4_at4 id=c4_at1 no parent isAbstract = No } one sig c4_at1 extends c4_at1_type one sig c4_at2 extends c4_at2_type one sig c4_at3 extends c4_at3_type one sig c4_at4 extends c4_at4_type one sig class5_name extends Class attrSet = c5_at1+c5_at2 one parent parent in class4_name id=c4_at1 isAbstract = No } one sig c5_at1 extends c5_at1_type one sig c5_at2 extends c5_at2_type one sig class6_name extends Class attrSet = c6_at1+c6_at2+c6_at3 id=c6_at1 no parent isAbstract = No } one sig c6_at1 extends c6_at1_type one sig c6_at2 extends c6_at2_type one sig c6_at3 extends c6_at3_type one sig assoc1 extends Association src = class6_name dst= class4_name src_multiplicity = src_mlpc2 dst_multiplicity = dst_mlpc } one sig assoc2 extends Association src = class1_name dst= class5_name src_multiplicity = src_mlpc dst_multiplicity = dst_mlpc } one sig assoc3 extends Association src = class4_name dst = class1_name src_multiplicity = src_mlpc dst_multiplicity = dst_mlpc } one sig assoc4 extends Association src = class3_name dst = class1_name src_multiplicity = src_mlpc dst_multiplicity = dst_mlpc } pred show run show for 30 ​,OM_name_Solution : 0 Table: class1_name Attribute c1_at1: c1_at1_type Primary Key Table: class1_name Attribute c1_at2: c1_at2_type Table: class2_name Attribute c2_at1: c1_at1_type Primary Key Table: class2_name Attribute c2_at2: c2_at2_type Table: class3_name Attribute c3_at1: c3_at1_type Primary Key Table: class3_name Attribute c3_at2: c3_at2_type Table: class4_name Attribute c4_at1: c4_at1_type Primary Key Table: class4_name Attribute c4_at2: c4_at2_type Table: class4_name Attribute c4_at3: c4_at3_type Table: class4_name Attribute c4_at4: c4_at4_type Table: class5_name Attribute c5_at1: c5_at1_type Primary Key Table: class5_name Attribute c5_at2: c5_at2_type Table: class6_name Attribute c6_at1: c6_at1_type Primary Key Table: class6_name Attribute c6_at2: c6_at2_type Table Name: class6_name Table: class1_name Attribute c1_at1: c1_at1_type Primary Key Table: class2_name Attribute c2_at1: c1_at1_type Primary Key Table: class3_name Attribute c3_at1: c3_at1_type Primary Key Table: class4_name Attribute c4_at1: c4_at1_type Primary Key Table: class6_name Attribute c6_at1: c6_at1_type Primary Key Table Name: class1_name Table Name: class2_name Table Name: class3_name Table Name: class4_name Table Name: class5_name Table Name: class6_name Mapping Strategy of Table class2_name: map_str2 Mapping Strategy of Table class3_name: map_str2 Mapping Strategy of Table class4_name: map_str2 Mapping Strategy of Table class5_name: map_str2 Association Strategy for assoc2 : assoc_type1 Association Strategy for assoc3 : assoc_type1 Association Strategy for assoc4 : assoc_type1 Association Strategy for assoc1 : assoc_type2,USE OM_name_0 CREATE TABLE `assoc1` ( `c6_at1` c6_at1_type NOT NULL, `c4_at1` c4_at1_type NOT NULL, KEY `FK_assoc1_c6_at1_idx` (`c6_at1`), FK_assoc1_c4_at1_idx` (`c4_at1`), PRIMARY KEY (`c6_at1`,`c4_at1`) ); CREATE TABLE `class3_name` ( `c3_at2` c3_at2_type(64) `c3_at1` c3_at1_type NOT NULL, PRIMARY KEY (`c3_at1`) ); CREATE TABLE `class5_name` ( `c4_at2` c4_at2_type(64), `c5_at2` c5_at2_type, `c5_at1` c5_at1_type, `c4_at4` c4_at4_type, `c4_at3` c4_at3_type, `c4_at1` c4_at1_type NOT NULL, PRIMARY KEY (`c4_at1`) ); CREATE TABLE `class2_name` ( `c2_at2` c2_at2_type(64), `c2_at1` c2_at1_type NOT NULL, PRIMARY KEY (`c2_at1`) ); CREATE TABLE `class6_name` ( `c6_at3` c6_at3_type, `c6_at2` c6_at2_type, `c6_at1` c6_at1_type NOT NULL, `c2_at1` c2_at1_type, KEY `FK_class6_name_c2_at1_idx` (`c2_at1`), PRIMARY KEY (`c6_at1`) ); CREATE TABLE `class1_name` ( `c4_at1` c4_at1_type, `c3_at1` c3_at1_type, `c1_at2` c1_at2_type, `c1_at1` c1_at1_type NOT NULL, KEY `FK_class1_name_c4_at1_idx` (`c4_at1`), KEY `FK_class1_name_c3_at1_idx` (`c3_at1`), PRIMARY KEY (`c1_at1`) ); CREATE TABLE `class4_name` ( `c4_at2` c4_at2_type(64), `c4_at4` c4_at4_type, `c4_at3` c4_at3_type, `c4_at1` c4_at1_type NOT NULL, PRIMARY KEY (`c4_at1`) ); ALTER TABLE `assoc1` ADD CONSTRAINT `FK_assoc1_c6_at1` FOREIGN KEY (`c6_at1`) REFERENCES `class6_name` (`c6_at1`) ON DELETE CASCADE ON UPDATE CASCADE, ADD CONSTRAINT `FK_assoc1_c4_at1` FOREIGN KEY (`c4_at1`) REFERENCES `class4_name` (`c4_at1`) ON DELETE CASCADE ON UPDATE CASCADE; ALTER TABLE `class6_name` ADD CONSTRAINT `FK_class6_name_c2_at1` FOREIGN KEY (`c2_at1`) REFERENCES `class2_name` (`c2_at1`) ON DELETE CASCADE ON UPDATE CASCADE; ALTER TABLE `class1_name` ADD CONSTRAINT `FK_class1_name_c4_at1` FOREIGN KEY (`c4_at1`) REFERENCES `class4_name` (`c4_at1`) ON DELETE CASCADE ON UPDATE CASCADE, ADD CONSTRAINT `FK_class1_name_c3_at1` FOREIGN KEY (`c3_at1`) REFERENCES `class3_name` (`c3_at1`) ON DELETE CASCADE ON UPDATE CASCADE;,NP
module OM_name: 0 open Declaration one sig class1_name extends Class attrSet = c1_at1+c1_at2 id=c1_at1 no parent isAbstract = No } one sig c1_at1 extends c1_at1_type one sig c1_at2 extends c1_at2_type one sig class2_name extends Class attrSet = c2_at1+c2_at2 id=c2_at1 no parent isAbstract = No } one sig c2_at1 extends c2_at1_type one sig c2_at2 extends c2_at2_type one sig class3_name extends Class attrSet = c3_at1+c3_at2 id=c3_at1 no parent isAbstract = No } one sig c3_at1 extends c3_at1_type one sig c3_at2 extends c3_at2_type one sig class4_name extends Class attrSet = c4_at1+c4_at2+c4_at3+c4_at4 id=c4_at1 no parent isAbstract = No } one sig c4_at1 extends c4_at1_type one sig c4_at2 extends c4_at2_type one sig c4_at3 extends c4_at3_type one sig c4_at4 extends c4_at4_type one sig class5_name extends Class attrSet = c5_at1+c5_at2 one parent parent in class4_name id=c4_at1 isAbstract = No } one sig c5_at1 extends c5_at1_type one sig c5_at2 extends c5_at2_type one sig class6_name extends Class attrSet = c6_at1+c6_at2+c6_at3 id=c6_at1 no parent isAbstract = No } one sig c6_at1 extends c6_at1_type one sig c6_at2 extends c6_at2_type one sig c6_at3 extends c6_at3_type one sig assoc1 extends Association src = class6_name dst= class4_name src_multiplicity = src_mlpc2 dst_multiplicity = dst_mlpc } one sig assoc2 extends Association src = class1_name dst= class5_name src_multiplicity = src_mlpc dst_multiplicity = dst_mlpc } one sig assoc3 extends Association src = class4_name dst = class1_name src_multiplicity = src_mlpc dst_multiplicity = dst_mlpc } one sig assoc4 extends Association src = class3_name dst = class1_name src_multiplicity = src_mlpc dst_multiplicity = dst_mlpc } pred show run show for 30 ​,OM_name_Solution : 0 Table: class1_name Attribute c1_at1: c1_at1_type Primary Key Table: class1_name Attribute c1_at2: c1_at2_type Table: class2_name Attribute c2_at1: c1_at1_type Primary Key Table: class2_name Attribute c2_at2: c2_at2_type Table: class3_name Attribute c3_at1: c3_at1_type Primary Key Table: class3_name Attribute c3_at2: c3_at2_type Table: class4_name Attribute c4_at1: c4_at1_type Primary Key Table: class4_name Attribute c4_at2: c4_at2_type Table: class4_name Attribute c4_at3: c4_at3_type Table: class4_name Attribute c4_at4: c4_at4_type Table: class5_name Attribute c5_at1: c5_at1_type Primary Key Table: class5_name Attribute c5_at2: c5_at2_type Table: class6_name Attribute c6_at1: c6_at1_type Primary Key Table: class6_name Attribute c6_at2: c6_at2_type Table Name: class6_name Table: class1_name Attribute c1_at1: c1_at1_type Primary Key Table: class2_name Attribute c2_at1: c1_at1_type Primary Key Table: class3_name Attribute c3_at1: c3_at1_type Primary Key Table: class4_name Attribute c4_at1: c4_at1_type Primary Key Table: class6_name Attribute c6_at1: c6_at1_type Primary Key Table Name: class1_name Table Name: class2_name Table Name: class3_name Table Name: class4_name Table Name: class5_name Table Name: class6_name Mapping Strategy of Table class2_name: map_str2 Mapping Strategy of Table class3_name: map_str2 Mapping Strategy of Table class4_name: map_str2 Mapping Strategy of Table class5_name: map_str2 Association Strategy for assoc2 : assoc_type1 Association Strategy for assoc3 : assoc_type1 Association Strategy for assoc4 : assoc_type1 Association Strategy for assoc1 : assoc_type2,USE OM_name_0 CREATE TABLE `assoc1` ( `c6_at1` c6_at1_type NOT NULL, `c4_at1` c4_at1_type NOT NULL, KEY `FK_assoc1_c6_at1_idx` (`c6_at1`), FK_assoc1_c4_at1_idx` (`c4_at1`), PRIMARY KEY (`c6_at1`,`c4_at1`) ); CREATE TABLE `class3_name` ( `c3_at2` c3_at2_type(64) `c3_at1` c3_at1_type NOT NULL, PRIMARY KEY (`c3_at1`) ); CREATE TABLE `class5_name` ( `c5_at2` c5_at2_type, `c5_at1` c5_at1_type, `c4_at1` c4_at1_type NOT NULL, KEY `FK_class5_name_c4_at1_idx` (`c4_at1`), PRIMARY KEY (`c4_at1`) ); CREATE TABLE `class2_name` ( `c2_at2` c2_at2_type(64), `c2_at1` c2_at1_type NOT NULL, PRIMARY KEY (`c2_at1`) ); CREATE TABLE `class6_name` ( `c6_at3` c6_at3_type, `c6_at2` c6_at2_type, `c6_at1` c6_at1_type NOT NULL, `c2_at1` c2_at1_type, KEY `FK_class6_name_c2_at1_idx` (`c2_at1`), PRIMARY KEY (`c6_at1`) ); CREATE TABLE `class1_name` ( `c4_at1` c4_at1_type, `c3_at1` c3_at1_type, `c1_at2` c1_at2_type, `c1_at1` c1_at1_type NOT NULL, KEY `FK_class1_name_c4_at1_idx` (`c4_at1`), KEY `FK_class1_name_c3_at1_idx` (`c3_at1`), PRIMARY KEY (`c1_at1`) ); CREATE TABLE `class4_name` ( `c4_at2` c4_at2_type(64), `c4_at4` c4_at4_type, `c4_at3` c4_at3_type, `c4_at1` c4_at1_type NOT NULL, PRIMARY KEY (`c4_at1`) ); ALTER TABLE `assoc1` ADD CONSTRAINT `FK_assoc1_c6_at1` FOREIGN KEY (`c6_at1`) REFERENCES `class6_name` (`c6_at1`) ON DELETE CASCADE ON UPDATE CASCADE, ADD CONSTRAINT `FK_assoc1_c4_at1` FOREIGN KEY (`c4_at1`) REFERENCES `class4_name` (`c4_at1`) ON DELETE CASCADE ON UPDATE CASCADE; ALTER TABLE `class5_name` ADD CONSTRAINT `FK_class5_name_c4_at1` FOREIGN KEY (`c4_at1`) REFERENCES `class4_name` (`c4_at1`) ON DELETE CASCADE ON UPDATE CASCADE; ALTER TABLE `class6_name` ADD CONSTRAINT `FK_class6_name_c2_at1` FOREIGN KEY (`c2_at1`) REFERENCES `class2_name` (`c2_at1`) ON DELETE CASCADE ON UPDATE CASCADE; ALTER TABLE `class1_name` ADD CONSTRAINT `FK_class1_name_c4_at1` FOREIGN KEY (`c4_at1`) REFERENCES `class4_name` (`c4_at1`) ON DELETE CASCADE ON UPDATE CASCADE, ADD CONSTRAINT `FK_class1_name_c3_at1` FOREIGN KEY (`c3_at1`) REFERENCES `class3_name` (`c3_at1`) ON DELETE CASCADE ON UPDATE CASCADE; ​,NP
module OM_name: 0 open Declaration one sig class1_name extends Class attrSet = c1_at1+c1_at2 id=c1_at1 no parent isAbstract = No } one sig c1_at1 extends c1_at1_type one sig c1_at2 extends c1_at2_type one sig class2_name extends Class attrSet = c2_at1+c2_at2 id=c2_at1 no parent isAbstract = No } one sig c2_at1 extends c2_at1_type one sig c2_at2 extends c2_at2_type one sig class3_name extends Class attrSet = c3_at1+c3_at2 id=c3_at1 no parent isAbstract = No } one sig c3_at1 extends c3_at1_type one sig c3_at2 extends c3_at2_type one sig class4_name extends Class attrSet = c4_at1+c4_at2+c4_at3+c4_at4 id=c4_at1 no parent isAbstract = No } one sig c4_at1 extends c4_at1_type one sig c4_at2 extends c4_at2_type one sig c4_at3 extends c4_at3_type one sig c4_at4 extends c4_at4_type one sig class5_name extends Class attrSet = c5_at1+c5_at2 one parent parent in class4_name id=c4_at1 isAbstract = No } one sig c5_at1 extends c5_at1_type one sig c5_at2 extends c5_at2_type one sig class6_name extends Class attrSet = c6_at1+c6_at2+c6_at3 id=c6_at1 no parent isAbstract = No } one sig c6_at1 extends c6_at1_type one sig c6_at2 extends c6_at2_type one sig c6_at3 extends c6_at3_type one sig assoc1 extends Association src = class6_name dst= class4_name src_multiplicity = src_mlpc2 dst_multiplicity = dst_mlpc } one sig assoc2 extends Association src = class1_name dst= class5_name src_multiplicity = src_mlpc dst_multiplicity = dst_mlpc } one sig assoc3 extends Association src = class4_name dst = class1_name src_multiplicity = src_mlpc dst_multiplicity = dst_mlpc } one sig assoc4 extends Association src = class3_name dst = class1_name src_multiplicity = src_mlpc dst_multiplicity = dst_mlpc } pred show run show for 30 ​,OM_name_Solution : 0 Table: class1_name Attribute c1_at1: c1_at1_type Primary Key Table: class1_name Attribute c1_at2: c1_at2_type Table: class2_name Attribute c2_at1: c1_at1_type Primary Key Table: class2_name Attribute c2_at2: c2_at2_type Table: class3_name Attribute c3_at1: c3_at1_type Primary Key Table: class3_name Attribute c3_at2: c3_at2_type Table: class4_name Attribute c4_at1: c4_at1_type Primary Key Table: class4_name Attribute c4_at2: c4_at2_type Table: class4_name Attribute c4_at3: c4_at3_type Table: class4_name Attribute c4_at4: c4_at4_type Table: class5_name Attribute c5_at1: c5_at1_type Primary Key Table: class5_name Attribute c5_at2: c5_at2_type Table: class6_name Attribute c6_at1: c6_at1_type Primary Key Table: class6_name Attribute c6_at2: c6_at2_type Table Name: class6_name Table: class1_name Attribute c1_at1: c1_at1_type Primary Key Table: class2_name Attribute c2_at1: c1_at1_type Primary Key Table: class3_name Attribute c3_at1: c3_at1_type Primary Key Table: class4_name Attribute c4_at1: c4_at1_type Primary Key Table: class6_name Attribute c6_at1: c6_at1_type Primary Key Table Name: class1_name Table Name: class2_name Table Name: class3_name Table Name: class4_name Table Name: class5_name Table Name: class6_name Mapping Strategy of Table class2_name: map_str2 Mapping Strategy of Table class3_name: map_str2 Mapping Strategy of Table class4_name: map_str2 Mapping Strategy of Table class5_name: map_str2 Association Strategy for assoc2 : assoc_type1 Association Strategy for assoc3 : assoc_type1 Association Strategy for assoc4 : assoc_type1 Association Strategy for assoc1 : assoc_type2,USE OM_name_0 CREATE TABLE `assoc1` ( `c6_at1` c6_at1_type NOT NULL, `c4_at1` c4_at1_type NOT NULL, KEY `FK_assoc1_c6_at1_idx` (`c6_at1`), FK_assoc1_c4_at1_idx` (`c4_at1`), PRIMARY KEY (`c6_at1`,`c4_at1`) ); CREATE TABLE `class3_name` ( `c3_at2` c3_at2_type(64) `c3_at1` c3_at1_type NOT NULL, PRIMARY KEY (`c3_at1`) ); CREATE TABLE `class5_name` ( `c5_at2` c5_at2_type, `c5_at1` c5_at1_type, `c4_at1` c4_at1_type NOT NULL, KEY `FK_class5_name_c4_at1_idx` (`c4_at1`), PRIMARY KEY (`c4_at1`) ); CREATE TABLE `class2_name` ( `c2_at2` c2_at2_type(64), `c2_at1` c2_at1_type NOT NULL, PRIMARY KEY (`c2_at1`) ); CREATE TABLE `class6_name` ( `c6_at3` c6_at3_type, `c6_at2` c6_at2_type, `c6_at1` c6_at1_type NOT NULL, `c2_at1` c2_at1_type, KEY `FK_class6_name_c2_at1_idx` (`c2_at1`), PRIMARY KEY (`c6_at1`) ); CREATE TABLE `class1_name` ( `c4_at1` c4_at1_type, `c3_at1` c3_at1_type, `c1_at2` c1_at2_type, `c1_at1` c1_at1_type NOT NULL, KEY `FK_class1_name_c4_at1_idx` (`c4_at1`), KEY `FK_class1_name_c3_at1_idx` (`c3_at1`), PRIMARY KEY (`c1_at1`) ); CREATE TABLE `class4_name` ( `c4_at2` c4_at2_type(64), `c4_at4` c4_at4_type, `c4_at3` c4_at3_type, `c4_at1` c4_at1_type NOT NULL, PRIMARY KEY (`c4_at1`) ); ALTER TABLE `assoc1` ADD CONSTRAINT `FK_assoc1_c6_at1` FOREIGN KEY (`c6_at1`) REFERENCES `class6_name` (`c6_at1`) ON DELETE CASCADE ON UPDATE CASCADE, ADD CONSTRAINT `FK_assoc1_c4_at1` FOREIGN KEY (`c4_at1`) REFERENCES `class4_name` (`c4_at1`) ON DELETE CASCADE ON UPDATE CASCADE; ALTER TABLE `class5_name` ADD CONSTRAINT `FK_class5_name_c4_at1` FOREIGN KEY (`c4_at1`) REFERENCES `class4_name` (`c4_at1`) ON DELETE CASCADE ON UPDATE CASCADE; ALTER TABLE `class6_name` ADD CONSTRAINT `FK_class6_name_c2_at1` FOREIGN KEY (`c2_at1`) REFERENCES `class2_name` (`c2_at1`) ON DELETE CASCADE ON UPDATE CASCADE; ALTER TABLE `class1_name` ADD CONSTRAINT `FK_class1_name_c4_at1` FOREIGN KEY (`c4_at1`) REFERENCES `class4_name` (`c4_at1`) ON DELETE CASCADE ON UPDATE CASCADE, ADD CONSTRAINT `FK_class1_name_c3_at1` FOREIGN KEY (`c3_at1`) REFERENCES `class3_name` (`c3_at1`) ON DELETE CASCADE ON UPDATE CASCADE; ​,NP